streamlit
spacy
pandas
numpy
datetime
requests
beautifulsoup4
scikit-learn
matplotlib
tensorflow
pyttsx3
cohere
SpeechRecognition
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
oauth2client
